@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-base: #121212;
  --background-black: #1d1d1d;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --text-muted: #a7a7a7;
  --text-bright-accent: #1ed760;
  --background-dark-gray: rgb(25 25 25);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}
