@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-base: #121212;
  --background-black: #1d1d1d;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --bg-card-base: #181818;
  --text-muted: #a7a7a7;
  --text-bright-accent: #1ed760;
  --background-dark-gray: 25 25 25;
}

body::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  margin-right: 0.5rem;
}

#main {
  overflow-y: scroll;
  height: 100vh;
}

#main::-webkit-scrollbar {
  width: 12px;
  width: 12px;
}
#main::-webkit-scrollbar-track {
  background-color: transparent;
}

#main::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #757575;
}

#main::-webkit-scrollbar-thumb:hover {
  background-color: #6c7070;
}

#main::-webkit-scrollbar-thumb:active {
  background-color: #333839;
}
