@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-base: #121212;
  --background-black: #1d1d1d;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --bg-card-base: #181818;
  --text-muted: #a7a7a7;
  --text-bright-accent: #1ed760;
  --background-dark-gray: 25 25 25;
  --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDov…sdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #757575;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-muted);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #333839;
}

.TywOcKZEqNynWecCiATc {
  --progress-bar-transform: 43.860215%;
  --bg-color: hsla(0, 0%, 100%, 0.3);
  --fg-color: #fff;
  --is-active-fg-color: #1db954;
  --progress-bar-transform: 0%;
  --progress-bar-height: 4px;
  --progress-bar-radius: calc(var(--progress-bar-height) / 2);
  height: 100%;
  overflow: hidden;
  touch-action: none;
  width: 100%;
}
